body {
    
    margin: 0;
    padding: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.container {
    display: flex;
    gap: 30px;
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.left-section {
    width: 350px;
    height: 350px;
    border: 2px dashed #bbb;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.left-section:hover {
    background-color: #e0e0e0;
}

.left-section label {
    background-color: #444;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.3s;
}

.left-section label:hover {
    background-color: #222;
}

.left-section input {
    display: none;
}

#image-preview {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
    border-radius: 10px;
}

.right-section {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
}

.field {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.field label {
    font-size: 14px;
    font-weight: bold;
}

.field input,
.field select,
.field textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    transition: border 0.3s;
}

.field input:focus,
.field select:focus,
.field textarea:focus {
    border-color: #6A9C89;
    outline: none;
}

textarea {
    resize: none;
    height: 80px;
}

button {
    margin-top: 15px;
    background-color: #444;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background-color: #222;
}
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 15px; 
    
    
}
 .continue-link {
    display: block;
    margin-bottom: 15px;
    color: #030303;
    font-weight: bold;
    text-decoration: none;
    }
.header {
    text-align: center;
    background-color: #929e8a; 
    padding: 20px 10px;
    border-bottom: 2px ;
    margin: 0;  
}